footer {
    width: 100%;
    height: 95px;
    background-color: black;
    position: absolute;
    bottom: 0;
}

.flex-holder {
    display: flex;
    justify-content: center;
    width: 100%;
}

.copyright {
    color: white;
    position: absolute;
    top: 70%;
}

@media (max-width: 379px) {
    footer {
        height: 150px;
    }

    .copyright {
        top: 50%;
        left: 20%;
    }
}